In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame([[0, 2, 3], [0, 4, 1], [10, 20, 30]],
                  index=[4, 5, 6], columns=['A', 'B', 'C'])

In [3]:
df

    A   B   C
4   0   2   3
5   0   4   1
6  10  20  30

In [4]:
df.at[4, 'B']

2

In [5]:
df.loc[5].at['B']

4